<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detail Log</title>
    </head>
    <body>
        <h1>Detail Log</h1>
        <button id="hamburger-btn">☰ Menu</button>
        <nav id="mobile-menu" style="display: none;">
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/detail">Detail Log</a></li>
                <li><a href="/visualizations">Visualizations</a></li>
            </ul>
        </nav>
        <div>
            <h2>Weather</h2>
            <p id="weather-display">Fetching Weather...</p>
        </div>
        <div>
            <h2>Core Metrics</h2>
            <div>
                <label for="mood">Mood:</label>
                <br>
                <input type="range" id="mood" min="0" max="10" value="5">
                <br>
                <span id="mood-value">5</span>
            </div>
            <div>
                <label for="energy">Energy:</label>
                <br>
                <input type="range" id="energy" min="0" max="10" value="5">
                <br>
                <span id="energy-value">5</span>
            </div>
            <div>
                <label for="stress">Stress:</label>
                <br>
                <input type="range" id="stress" min="0" max="10" value="5">
                <br>
                <span id="stress-value">5</span>
            </div>
        </div>
        <div>
            <h2>Sleep</h2>
            <div>
                <div>
                    <label for="sleep_quality">Sleep Quality</label>
                    <br>
                    <input type="radio" id="sleep-bad" name="sleep_quality" value="bad">
                    <label for="sleep-bad">Bad</label>
                    <input type="radio" id="sleep-okay" name="sleep_quality" value="okay" checked>
                    <label for="sleep-okay">Okay</label>
                    <input type="radio" id="sleep-good" name="sleep_quality" value="good">
                    <label for="sleep-good">Good</label>
                </div>
                <br>
                <div>
                    <label for="sleep_time">Sleep Time</label>
                    <br>
                    <input type="range" id="sleep-time" min="0" max="15" value="7.5" step="0.5">
                    <br>
                    <span id="sleep-time-value">7.5</span>
                </div>
            </div>
        </div>
        <div>
            <h2>Emotions</h2>
            <div>
                <div>
                    <label for="primary-emotion">Primary Emotion</label>
                    <br>
                    <input type="radio" id="prim-emotion-fear" name="primary-emotion" value="fear">
                    <label for="prim-emotion-fear">Fear</label>
                    <input type="radio" id="prim-emotion-anger" name="primary-emotion" value="anber">
                    <label for="prim-emotion-anger">Anger</label>
                    <input type="radio" id="prim-emotion-sadness" name="primary-emotion" value="sadness">
                    <label for="prim-emotion-sadness">Sadness</label>
                    <input type="radio" id="prim-emotion-neutral" name="primary-emotion" value="neutral" checked>
                    <label for="prim-emotion-neutral">Neutral</label>
                    <input type="radio" id="prim-emotion-joy" name="primary-emotion" value="joy">
                    <label for="prim-emotion-joy">Joy</label>
                    <input type="radio" id="prim-emotion-disgust" name="primary-emotion" value="disgust">
                    <label for="prim-emotion-disgust">Disgust</label>
                    <input type="radio" id="prim-emotion-surprise" name="primary-emotion" value="surprise">
                    <label for="prim-emotion-surprise">Surprise</label>
                </div>
                <br>
                <div>
                    <label for="secondary-emotion">Secondary Emotion</label>
                    <br>
                    <input type="radio" id="second-emotion-fear" name="secondary-emotion" value="fear">
                    <label for="second-emotion-fear">Fear</label>
                    <input type="radio" id="second-emotion-anger" name="secondary-emotion" value="anger">
                    <label for="second-emotion-anger">Anger</label>
                    <input type="radio" id="second-emotion-sadness" name="secondary-emotion" value="sadness">
                    <label for="second-emotion-sadness">Sadness</label>
                    <input type="radio" id="second-emotion-neutral" name="secondary-emotion" value="neutral" checked>
                    <label for="second-emotion-neutral">Neutral</label>
                    <input type="radio" id="second-emotion-joy" name="secondary-emotion" value="joy">
                    <label for="second-emotion-joy">Joy</label>
                    <input type="radio" id="second-emotion-disgust" name="secondary-emotion" value="disgust">
                    <label for="second-emotion-disgust">Disgust</label>
                    <input type="radio" id="second-emotion-surprise" name="secondary-emotion" value="surprise">
                    <label for="second-emotion-surprise">Surprise</label>
                </div>
            </div>
        </div>
        <div>
            <h2>Activities</h2>
            <div>
                <label for="activities">Activities</label>
                <br>
                <input type="checkbox" id="act-work" name="activities" value="work" data-id="1">
                <label for="act-work">Work</label>
                <input type="checkbox" id="act-workout" name="activities" value="workout" data-id="2">
                <label for="act-workout">Workout</label>
                <input type="checkbox" id="act-youtube" name="activities" value="youtube" data-id="3">
                <label for="act-youtube">Youtube/Film Watching</label>
                <input type="checkbox" id="act-doomscrolling" name="activities" value="doomscrolling" data-id="4">
                <label for="act-doomscrolling">Doomscrolling</label>
                <input type="checkbox" id="act-going-out" name="activities" value="going-out" data-id="5">
                <label for="act-going-out">Going Out</label>
                <input type="checkbox" id="act-meditating" name="activities" value="meditating" data-id="6">
                <label for="act-meditating">Meditating</label>
                <input type="checkbox" id="act-travelling" name="activities" value="travelling" data-id="7">
                <label for="act-travelling">Travelling/Walking Around</label>
                <input type="checkbox" id="act-meeting-friends" name="activities" value="meeting-friends" data-id="8">
                <label for="act-meeting-friends">Meeting Friends</label>
                <input type="checkbox" id="act-meeting-family" name="activities" value="meeting-family" data-id="9">
                <label for="act-meeting-family">Meeting Family</label>
                <input type="checkbox" id="act-transit" name="activities" value="transit" data-id="10">
                <label for="act-transit">Transit</label>
                <input type="checkbox" id="act-studying" name="activities" value="studying" data-id="11">
                <label for="act-studying">Studying</label>
                <input type="checkbox" id="act-napping" name="activities" value="napping" data-id="12">
                <label for="act-napping">Napping</label>
            </div>
        </div>
        <div>
            <h2>Work</h2>
            <div>
                <div>
                    <label for="work-hours">Work Hours</label>
                    <br>
                    <input type="range" id="work-hours" min="0" max="12" value="6" step="0.5">
                    <br>
                    <span id="work-hours-value">6</span>
                </div>
                <br>
                <div>
                    <label for="work-place">Work Place</label>
                    <br>
                    <input type="radio" id="work-home" name="work-place" value="home">
                    <label for="work-home">At Home</label>
                    <input type="radio" id="work-workplace" name="work-place" value="workplace" checked>
                    <label for="work-workplace">At Workplace</label>
                    <input type="radio" id="work-outside" name="work-place" value="outside">
                    <label for="work-outside">Outside</label>
                </div>
            </div>
        </div>
        <div>
            <h2>Contexts</h2>
            <div>
                <div>
                    <label for="social-context">(Main) Social Context</label>
                    <br>
                    <input type="radio" id="social-partner" name="social-context" value="partner">
                    <label for="social-partner">Partner</label>
                    <input type="radio" id="social-friends" name="social-context" value="friends">
                    <label for="social-friends">Friends</label>
                    <input type="radio" id="social-family" name="social-context" value="family">
                    <label for="social-family">Family</label>
                    <input type="radio" id="social-alone" name="social-context" value="alone" checked>
                    <label for="social-alone">Alone</label>
                    <input type="radio" id="social-coworkers" name="social-context" value="coworkers">
                    <label for="social-coworkers">Co-Workers</label>
                    <input type="radio" id="social-strangers" name="social-context" value="strangers">
                    <label for="social-strangers">Strangers</label>
                </div>
                <br>
                <div>
                    <label for="locations">(Main) Location</label>
                    <br>
                    <input type="radio" id="loc-home" name="locations" value="home">
                    <label for="loc-home">Home</label>
                    <input type="radio" id="loc-work" name="locations" value="work" checked>
                    <label for="loc-work">Work</label>
                    <input type="radio" id="loc-outdoors" name="locations" value="outdoors">
                    <label for="loc-outdoors">Outdoors</label>
                    <input type="radio" id="loc-transit" name="locations" value="transit">
                    <label for="loc-transit">Transit</label>
                </div>
                <br>
                <div>
                    <label for="substances">Substances Consumed</label>
                    <br>
                    <input type="checkbox" id="substance-alcohol" name="substances" value="alcohol" data-id="1" onclick="displaySlider(this.value)">
                    <label for="substance-alcohol">Alcohol</label>
                    <br>
                    <input type="range" id="alcohol" min="1" max="10" value="1" style="display: none;">
                    <span id="alcohol-value" style="display: none">1 beverage</span>
                    <input type="checkbox" id="substance-caffeine" name="substances" value="caffeine" data-id="2" onclick="displaySlider(this.value)">
                    <label for="substance-caffeine">Caffeine</label>
                    <br>
                    <input type="range" id="caffeine" min="1" max="10" value="1" style="display: none;">
                    <span id="caffeine-value" style="display: none">1 cup of coffee / tea</span>
                    <input type="checkbox" id="substance-sugar" name="substances" value="sugar" data-id="3" onclick="displaySlider(this.value)">
                    <label for="substance-sugar">Sugar</label>
                    <br>
                    <input type="range" id="sugar" min="1" max="10" value="1" style="display: none;">
                    <span id="sugar-value" style="display: none">1 sugary snack</span>
                    <input type="checkbox" id="substance-meds" name="substances" value="meds" data-id="4" onclick="displaySlider(this.value)">
                    <label for="substance-meds">Meds</label>
                    <br>
                    <input type="range" id="meds" min="1" max="10" value="1" style="display: none;">
                    <span id="meds-value" style="display: none">1 pill</span>
                </div>
            </div>
        </div>
        <div>
            <h2>Notes</h2>
            <div>
                <label for="notes">Notes/Diary (optional)</label>
                <br>
                <textarea id="notes-textarea" name="notes" rows="4" cols="100" placeholder="Have you experienced something interesting/relevant?"></textarea>
            </div>
        </div>
        <br>
        <button id="save-btn">Save Entry</button>
        <script>
            document.getElementById("hamburger-btn").addEventListener("click", function() {
                let menu = document.getElementById("mobile-menu");

                if (menu.style.display == "none") {
                    menu.style.display = "block";
                } else {
                    menu.style.display = "none";
                }
            });

            const sliders = ["mood", "energy", "stress", "sleep-time", "work-hours", "alcohol", "sugar", "caffeine", "meds"];

            sliders.forEach(metric => {
                let slider = document.getElementById(`${metric}`);
                let display = document.getElementById(`${metric}-value`)

                slider.addEventListener("input", function () {
                    if (metric === "alcohol") {
                        display.innerText = this.value + " " + "beverages";
                    } else if (metric === "sugar") {
                        display.innerText = this.value + " " + "sugary snacks";
                    } else if (metric === "caffeine") {
                        display.innerText = this.value + " " + "cups of coffee / tea";
                    } else if (metric === "meds") {
                        display.innerText = this.value + " " + "pills";
                    } else {
                        display.innerText = this.value
                    }    
                })
            })

            function displaySlider(keyword) {
                let slider = document.getElementById(`${keyword}`)
                let displayer = document.getElementById(`${keyword}-value`)
                if (slider.style.display === "none") {
                    slider.style.display = "block";
                    displayer.style.display = "block";
                } else {
                    slider.style.display = "none";
                    displayer.style.display = "none";
                }
            }
            document.getElementById("save-btn").addEventListener("click", function (event) {

                event.preventDefault();

                let sleepQuality = document.querySelector("input[name='sleep_quality']:checked").value;
                let primaryEmotion = document.querySelector("input[name='primary-emotion']:checked").value;
                let secondaryEmotion = document.querySelector("input[name='secondary-emotion']:checked").value;
                let workPlace = document.querySelector("input[name='work-place']:checked").value;
                let socialContext = document.querySelector("input[name='social-context']:checked").value;
                let location = document.querySelector("input[name='locations']:checked").value;
                let selectedActivities = [];
                let checkedBoxes = document.querySelectorAll("input[name='activities']:checked");
                let loggedSubstances = [];
                let checkedSubstances = document.querySelectorAll("input[name='substances']:checked");

                checkedSubstances.forEach(function(box) {
                    let matchingSlider = document.getElementById(box.value);

                    loggedSubstances.push({
                        id: parseInt(box.dataset.id),
                        dosage: parseInt(matchingSlider.value)
                    });
                });

                checkedBoxes.forEach(function(box) {
                    selectedActivities.push(parseInt(box.dataset.id));
                    console.log(selectedActivities)
                })

                const payload = {
                    mood: document.getElementById("mood").value,
                    energy: document.getElementById("energy").value,
                    stress: document.getElementById("stress").value,
                    sleep_quality: sleepQuality,
                    sleep_time: document.getElementById("sleep-time").value,
                    primary_emotion: primaryEmotion,
                    secondary_emotion: secondaryEmotion,
                    work_hours: document.getElementById("work-hours").value,
                    work_place: workPlace,
                    social_context: socialContext,
                    location: location,
                    notes: document.getElementById("notes-textarea").value,
                    activities: selectedActivities,
                    substances: loggedSubstances
                };

                fetch("/save-detail-log", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(payload)
                })
                .then(async response => {
                    const data = await response.json();

                    if (!response.ok) {
                        alert(data.message);
                        window.location.href = "/";
                        throw new Error(data.message);
                        
                    }

                    return data;
                })
                .then(data => {
                    console.log("Success:", data);
                    alert("Entry saved successfully");
                    window.location.href = "/";
                })
                .catch((error) => {
                    console.error("Error:", error)
                })
            })

            function getQuickLogValues() {
                fetch("/get-quicklog-values")
                .then(response => {
                    if (!response.ok) throw new Error("Something went wrong...");
                    return response.json();
                })
                .then(data => {
                    document.getElementById("mood").value = data.mood_value;
                    document.getElementById("energy").value = data.energy_value;
                    document.getElementById("stress").value = data.stress_value;
                    document.getElementById("mood-value").innerText = data.mood_value;
                    document.getElementById("energy-value").innerText = data.energy_value;
                    document.getElementById("stress-value").innerText = data.stress_value;

                })
                .catch(error => {
                    console.error("Error fetching stuff...", error);
                });
            }

            window.addEventListener("DOMContentLoaded", getQuickLogValues);
        </script>
    </body>
</html>